.wrapper {
  display: flex;
  flex-direction: row;
  margin: 25px;
}

.btn-search {
  color: white;
  background-color: black;
  cursor: pointer;
  padding: 11px;
}

.search-title {
  text-align: center;
  font-weight: normal;
  font-size: 18px;
}
